* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: azure;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    text-align: left;
    margin-top: 5vh;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    height: 100%;
    background-color: bisque;
}

.search-bar {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    text-align: left;
    gap: 5px;
}

.search-bar input[type=text] {
    border: 1px solid #00000054;
    border-radius: 8px;
    padding: 0.8em;
}

#main-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

#table-body {
    width: 100%;
}

#main-table th {
    text-decoration: underline;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.204);
    width: 100%;
}

#main-table th span {
    cursor: pointer;
}

#main-table td,
#main-table tr {
    font-size: 1.1rem;
    padding: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.204);
}

#main-table td:last-child,
#main-table th:last-child {
    text-align: center;
}

@media (max-width: 600px) {
    #main-table td,
    #main-table tr {
        font-size: 0.9rem;
    }
}

@media (max-width: 370px) {
    #main-table td:last-child,
    #main-table th:last-child {
        text-align: right;
    }
    #main-table td:nth-child(2),
    #main-table th:nth-child(2) {
        text-align: left;
    }
}